# Student Alcohol Consumption

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. Import the necessary libraries

In [70]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://github.com/guipsamora/pandas_exercises/blob/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv).

### Step 3. Assign it to a variable called df.

In [71]:
df = pd.read_csv("student-mat.csv", sep=',')
df.head(10)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
5,GP,M,16,U,LE3,T,4,3,services,other,...,5,4,2,1,2,5,10,15,15,15
6,GP,M,16,U,LE3,T,2,2,other,other,...,4,4,4,1,1,3,0,12,12,11
7,GP,F,17,U,GT3,A,4,4,other,teacher,...,4,1,4,1,1,1,6,6,5,6
8,GP,M,15,U,LE3,A,3,2,services,other,...,4,2,2,1,1,1,0,16,18,19
9,GP,M,15,U,GT3,T,3,4,other,other,...,5,5,1,1,1,5,0,14,15,15

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [72]:
data = df.loc[:, 'school':'guardian']

### Step 5. Create a lambda function that captalize strings.

In [73]:
string_cap = lambda x: x.capitalize()

### Step 6. Capitalize both Mjob and Fjob

In [74]:
data.Mjob = data.Mjob.apply(string_cap)
data.Fjob = data.Fjob.apply(string_cap)

### Step 7. Print the last elements of the data set.

In [75]:
data.tail(1)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
394,MS,M,19,U,LE3,T,1,1,Other,At_home,course,father

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and captalize Mjob and Fjob.

In [76]:
df.Fjob = data.Mjob
df.Mjob = data.Fjob

### Step 9. Create a function called majority that return a boolean value to a new column called legal_drinker

In [77]:
def majority(x):
    return False

In [78]:
df["legal_drinker"] = majority(1)

### Step 10. Multiply every number of the dataset by 10. 
##### I know this makes no sense, don't forget it is just an exercise

In [81]:
data_copy = data
def times10(x):
    if type(x) is str:
        return x
    elif type(x) is np.int64:
        return x*10
    else:
        return

data.applymap(times10).head(10)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,None,U,GT3,A,None,None,At_home,Teacher,course,mother
1,GP,F,None,U,GT3,T,None,None,At_home,Other,course,father
2,GP,F,None,U,LE3,T,None,None,At_home,Other,other,mother
3,GP,F,None,U,GT3,T,None,None,Health,Services,home,mother
4,GP,F,None,U,GT3,T,None,None,Other,Other,home,father
5,GP,M,None,U,LE3,T,None,None,Services,Other,reputation,mother
6,GP,M,None,U,LE3,T,None,None,Other,Other,home,mother
7,GP,F,None,U,GT3,A,None,None,Other,Teacher,home,mother
8,GP,M,None,U,LE3,A,None,None,Services,Other,home,mother
9,GP,M,None,U,GT3,T,None,None,Other,Other,home,mother

In [80]:
data

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother
1,GP,F,17,U,GT3,T,1,1,At_home,Other,course,father
2,GP,F,15,U,LE3,T,1,1,At_home,Other,other,mother
3,GP,F,15,U,GT3,T,4,2,Health,Services,home,mother
4,GP,F,16,U,GT3,T,3,3,Other,Other,home,father
5,GP,M,16,U,LE3,T,4,3,Services,Other,reputation,mother
6,GP,M,16,U,LE3,T,2,2,Other,Other,home,mother
7,GP,F,17,U,GT3,A,4,4,Other,Teacher,home,mother
8,GP,M,15,U,LE3,A,3,2,Services,Other,home,mother
9,GP,M,15,U,GT3,T,3,4,Other,Other,home,mother
10,GP,F,15,U,GT3,T,4,4,Teacher,Health,reputation,mother
11,GP,F,15,U,GT3,T,2,1,Services,Other,reputation,father
12,GP,M,15,U,LE3,T,4,4,Health,Services,course,father
13,GP,M,15,U,GT3,T,4,3,Teacher,Other,course,mother
14,GP,M,15,U,GT3,A,2,2,Other,Other,home,other
15,GP,F,16,U,GT3,T,4,4,Health,Other,home,mother
16,GP,F,16,U,GT3,T,4,4,Services,Services,reputation,mother
17,GP,F,16,U,GT3,T,3,3,Other,Other,reputation,mother
18,GP,M,17,U,GT3,T,3,2,Services,Services,course,mother
19,GP,M,16,U,LE3,T,4,3,Health,Other,home,father
20,GP,M,15,U,GT3,T,4,3,Teacher,Other,reputation,mother
21,GP,M,15,U,GT3,T,4,4,Health,Health,other,father
22,GP,M,16,U,LE3,T,4,2,Teacher,Other,course,mother
23,GP,M,16,U,LE3,T,2,2,Other,Other,reputation,mother
24,GP,F,15,R,GT3,T,2,4,Services,Health,course,mother
25,GP,F,16,U,GT3,T,2,2,Services,Services,home,mother
26,GP,M,15,U,GT3,T,2,2,Other,Other,home,mother
27,GP,M,15,U,GT3,T,4,2,Health,Services,other,mother
28,GP,M,16,U,LE3,A,3,4,Services,Other,home,mother
29,GP,M,16,U,GT3,T,4,4,Teacher,Teacher,home,mother
...,...,...,...,...,...,...,...,...,...,...,...,...
365,MS,M,18,R,GT3,T,1,3,At_home,Other,course,mother
366,MS,M,18,U,LE3,T,4,4,Teacher,Services,other,mother
367,MS,F,17,R,GT3,T,1,1,Other,Services,reputation,mother
368,MS,F,18,U,GT3,T,2,3,At_home,Services,course,father
369,MS,F,18,R,GT3,T,4,4,Other,Teacher,other,father
370,MS,F,19,U,LE3,T,3,2,Services,Services,home,other
371,MS,M,18,R,LE3,T,1,2,At_home,Services,other,father
372,MS,F,17,U,GT3,T,2,2,Other,At_home,home,mother
373,MS,F,17,R,GT3,T,1,2,Other,Other,course,mother
374,MS,F,18,R,LE3,T,4,4,Other,Other,reputation,mother
375,MS,F,18,R,GT3,T,1,1,Other,Other,home,mother
376,MS,F,20,U,GT3,T,4,2,Health,Other,course,other
377,MS,F,18,R,LE3,T,4,4,Teacher,Services,course,mother
378,MS,F,18,U,GT3,T,3,3,Other,Other,home,mother
379,MS,F,17,R,GT3,T,3,1,At_home,Other,reputation,mother
380,MS,M,18,U,GT3,T,4,4,Teacher,Teacher,home,father
381,MS,M,18,R,GT3,T,2,1,Other,Other,other,mother
382,MS,M,17,U,GT3,T,2,3,Other,Services,home,father
383,MS,M,19,R,GT3,T,1,1,Other,Services,other,mother
384,MS,M,18,R,GT3,T,4,2,Other,Other,home,father
385,MS,F,18,R,GT3,T,2,2,At_home,Other,other,mother
386,MS,F,18,R,GT3,T,4,4,Teacher,At_home,reputation,mother
387,MS,F,19,R,GT3,T,2,3,Services,Other,course,mother
388,MS,F,18,U,LE3,T,3,1,Teacher,Services,course,mother
389,MS,F,18,U,GT3,T,1,1,Other,Other,course,mother
390,MS,M,20,U,LE3,A,2,2,Services,Services,course,other
391,MS,M,17,U,LE3,T,3,1,Services,Services,course,mother
392,MS,M,21,R,GT3,T,1,1,Other,Other,course,other
393,MS,M,18,R,LE3,T,3,2,Services,Other,course,mother
394,MS,M,19,U,LE3,T,1,1,Other,At_home,course,father